* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: hsl(212, 45%, 89%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 95vh 5vh;
  grid-template-areas:
    "main"
    "footer";
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  width: 320px;
  height: 497px;
  padding: 16px 16px 40px 16px;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);
}

.card-container img {
  width: 100%;
  border-radius: 10px;
}

.card-container .text-container {
  height: 100%;
}

.card-container h1 {
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  margin-bottom: 16px;
}

.card-container p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  padding: 0 16px;
  line-height: 20px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
